ADDR=":8080"
EXTERNALURL="localhost:8080"
ENVIRONMENT="development"

DB_DSN="postgres://postgres:postgres@localhost:5432/book-management?sslmode=disable"

DB_MAX_OPEN_CONNS=50
DB_MAX_IDLE_CONNS=50
DB_MAX_IDLE_TIME="15m"

POSTGRES_DB="book-management"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"